extends template/base

block header
	h1 Second Version
	h2 1978

block cards
	li Abandon normal instruments
	li Accept advice
	li Accretion
	li A line has two sides
	li Allow an easement (an easement is the abandonment of a stricture)
	li Always first steps
	li Always give yourself credit for having more than personality (given by Arto Lindsay)
	li Are there sections? Consider transitions
	li Ask people to work against their better judgement
	li Ask your body
	li Assemble some of the instruments in a group and treat the group
	li A very small object -Its centre
	li Balance the consistency principle with the inconsistency principle
	li Be dirty
	li Be extravagant
	li Breathe more deeply
	li Bridges -build -burn
	li Cascades
	li Change instrument roles
	li Change nothing and continue with immaculate consistency
	li Children's voices -speaking -singing
	li Cluster analysis
	li Consider different fading systems
	li Consult other sources -promising -unpromising
	li Convert a melodic element into a rhythmic element
	li Courage!
	li Cut a vital connection
	li Decorate, decorate
	li Define an area as 'safe' and use it as an anchor
	li Destroy -nothing -the most important thing
	li Discard an axiom
	li Disciplined self-indulgence
	li Disconnect from desire
	li Discover the recipes you are using and abandon them
	li Distorting time
	li Do nothing for as long as possible
	li Don't be afraid of things because they're easy to do
	li Don't be frightened of cliches
	li Don't be frightened to display your talents
	li Don't break the silence
	li Don't stress *on* thing more than another (sic)
	li Do something boring
	li Do the washing up
	li Do the words need changing?
	li Do we need holes?
	li Emphasise differences
	li Emphasise repetitions
	li Emphasise the flaws
	li Faced with a choice, do both (given by Dieter Rot)
	li Feed the recording back out of the medium
	li Fill every beat with something
	li Get your neck massaged
	li Ghost echoes
	li Give the game away
	li Give way to your worst impulse
	li Go outside. Shut the door.
	li Go slowly all the way round the outside
	li Honor thy error as a hidden intention
	li How would you have done it?
	li Humanise something free of error
	li Idiot glee (?)
	li Imagine the piece as a set of disconnected events
	li Infinitesimal gradations
	li Intentions -credibility of -nobility of -humility of
	li In total darkness, or in a very large room, very quietly
	li Into the impossible
	li Is it finished?
	li Is the tuning intonation correct?
	li Is there something missing?
	li It is quite possible (after all)
	li Just carry on
	li Left channel, right channel, centre channel
	li Listen to the quiet voice
	li Look at the order in which you do things
	li Look closely at the most embarrassing details and amplify them
	li Lost in useless territory
	li Lowest common denominator
	li Make a blank valuable by putting it in an exquisite frame
	li Make an exhaustive list of everything you might do and do the last thing on the list
	li Make a sudden, destructive unpredictable action; incorporate
	li Mechanicalise something idiosyncratic
	li Mute and continue
	li Not building a wall but making a brick
	li Only one element of each kind
	li (Organic) machinery
	li Overtly resist change
	li Put in earplugs
	li Question the heroic approach
	li Remember .those quiet evenings
	li Remove ambiguities and convert to specifics
	li Remove specifics and convert to ambiguities
	li Repetition is a form of change
	li Revaluation (a warm feeling)
	li Reverse
	li Short circuit (example; a man eating peas with the idea that they will improve his virility shovels them straight into his lap)
	li Simple subtraction
	li Simply a matter of work
	li Spectrum analysis
	li State the problem in words as simply as possible
	li Take a break
	li Take away the elements in order of apparent non-importance
	li Tape your mouth (given by Ritva Saarikko)
	li The inconsistency principle
	li The most important thing is the thing most easily forgotten
	li The tape is now the music
	li Think of the radio
	li Tidy up
	li Towards the insignificant
	li Trust in the you of now
	li Turn it upside down
	li Twist the spine
	li Use an old idea
	li Use an unacceptable colour
	li Use fewer notes
	li Use filters
	li Use 'unqualified' people
	li Water
	li What are the sections sections of? Imagine a caterpillar moving
	li What are you really thinking about just now?	
	li What is the reality of the situation?
	li What mistakes did you make last time?
	li What would your closest friend do?
	li What wouldn't you do?
	li What would your closest friend do?
	li Work at a different speed
	li You are an engineer
	li You can only make one dot at a time
	li You don't have to be ashamed of using your own idea
	
block footer
	p.info 1978
		a(class='internal', href='') learn more