extends template/base

block header
	h1 Fourth Version
	h2 1989
	
block cards
	li Abandon desire
	li Abandon normal instructions
	li Accept advice
	li Adding on
	li A line has two sides
	li Always the first steps
	li Ask people to work against their better judgement
	li Ask your body
	li Be dirty
	li Be extravagant
	li Be less critical
	li Breathe more deeply
	li Bridges -build -burn
	li Change ambiguities to specifics
	li Change nothing and continue consistently
	li Change specifics to ambiguities
	li Consider transitions
	li Courage!
	li Cut a vital connection
	li Decorate, decorate
	li Destroy nothing; Destroy the most important thing
	li Discard an axiom
	li Disciplined self-indulgence
	li Discover your formulas and abandon them
	li Display your talent
	li Distort time
	li Do nothing for as long as possible
	li Don't avoid what is easy
	li Don't break the silence
	li Don't stress one thing more than another
	li Do something boring
	li Do something sudden, destructive and unpredictable
	li Do the last thing first
	li Do the words need changing?
	li Emphasize differences
	li Emphasize the flaws
	li Faced with a choice, do both (from Dieter Rot)
	li Find a safe part and use it as an anchor
	li Give the game away
	li Give way to your worst impulse
	li Go outside. Shut the door.
	li Go to an extreme, come part way back
	li How would someone else do it?
	li How would you have done it?
	li In total darkness, or in a very large room, very quietly
	li Is it finished?
	li Is something missing?
	li Is the style right?
	li It is simply a matter or work
	li Just carry on
	li Listen to the quiet voice
	li Look at the order in which you do things
	li Magnify the most difficult details
	li Make it more sensual
	li Make what's perfect more human
	li Move towards the unimportant
	li Not building a wall; making a brick
	li Once the search has begun, something will be found
	li Only a part, not the whole
	li Only one element of each kind
	li Openly resist change
	li Pae White's non-blank graphic metacard
	li Question the heroic
	li Remember quiet evenings
	li Remove a restriction
	li Repetition is a form of change
	li Retrace your steps
	li Reverse
	li Simple Subtraction
	li Slow preparation, fast execution
	li State the problem as clearly as possible
	li Take a break
	li Take away the important parts
	li The inconsistency principle
	li The most easily forgotten thing is the most important
	li Think - inside the work -outside the work
	li Tidy up
	li Try faking it (from Stewart Brand)
	li Turn it upside down
	li Use an old idea
	li Use cliches
	li Use filters
	li Use something nearby as a model
	li Use 'unqualified' people
	li Use your own ideas
	li Voice your suspicions
	li Water
	li What context would look right?
	li What is the simplest solution?
	li What mistakes did you make last time?
	li What to increase? What to reduce? What to maintain?
	li What were you really thinking about just now?
	li What wouldn't you do?
	li What would your closest friend do?
	li When is it for?
	li Where is the edge?
	li Which parts can be grouped?
	li Work at a different speed
	li Would anyone want it?
	li Your mistake was a hidden intention

block footer
	p.info 1989
		a(class='', href='') learn more