//- Footer block
footer
	article#info
		h4 Oblique Strategies
		h5 By <a title="Brian Eno's Homepage" href="http://brian-eno.net">Brian Eno</a> &amp; <a title="Peter Schmidt's Homepage" href="http://www.peterschmidtweb.com/">Peter Schmidt</a>
		p.info This project is an electronic Version of the Oblique Strategies
		small.
			<strong>Oblique Strategies</strong> &copy; 1975 - 2017 <a title="Brian Eno's Homepage" href="http://brian-eno.net">Brian Eno</a> &amp; <a title="Peter Schmidt's Homepage" href="http://www.peterschmidtweb.com/">Peter Schmidt</a>
