ul#external.social
  h6 Connect With the Digital Me :
  //- li: a(alt='', class='icon-pen', href='mailto:') Email
  li: a(alt='', class='icon-twitter', href='http://twitter.com/designerzen') Twitter
  //- li: a(alt='', class='icon-linkedin', href='') LinkedIn
  li: a(alt='', class='icon-github', href='http://github.com/designerzen') Github
  li: a(alt='', class='icon-pinterest', href='http://www.pinterest.com/designerzen/') Pintrest
