@import url(utils.less);

@import url(normalize.less);

/*

So this is a series of cards that are in a stack
as the page scrolls down, the next card come's into view

It achieves this by fixing position when it hits the top of the screen
and the element

*/
@light		: rgb(255,255,255);
@dark		: rgb(0,0,0);
@neutral 	: darken( @light, 12% );
@grey		: lighten( @dark, 31.4%  );


@cardPX 	: 40px;
@cardPY 	: 180px;

@cardW 		: 420px;
@cardH 		: 220px;
@gap		: 1px;

@quantity		: 130;
@perspective	: 1200px;

@class-show		: show;
@class-hide		: hide;
@class-flip		: flip;

@class-up		: up;
@class-down		: down;
@class-left		: left;
@class-right	: right;

@z-offset			: 0px;//200px - 100px;
@z-offset-hidden	: @z-offset + 20px ;		// bring forwrd


html{
	background:@dark url(../images/jpg/seamlesstexture12_500.jpg) repeat top left;
	width:100%;
	height:100%;
	max-width:100%;
	max-height:100%;
	overflow:hidden;
}

body{
	width:auto;
	height:100%;
	color: @neutral;
}

@import url(typography.less);

// header
header{
	color: @dark;
	position: absolute;;
	top:0;
	left:0;
	width:auto;
	height:100%;
	//z-index:9999;
	//transition:all 1s;
	letter-spacing:3px;
}

header nav{
	color: @light;
	position: absolute;
	top: 22px;
	right:22px ;
}

// Horizontal Nav
header nav{
	//.menu(h);
	//.visuallyhidden();
}




#content{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	// .vertical-gradient( rgba(0,0,0, 1), rgba(0,0,0, 0.75) );
	visibility:visible;
	opacity:1;
	transition:all 0.5s;
}

.loading #content{
	opacity:0;
	visibility:hidden;
}

footer{
	color: @light;
	position: absolute;
	bottom:0;
	right:0;

	width:100%;
	height:auto;
	z-index:0;
}
footer small{
	position: absolute;
	bottom:12px;
	left:0;
	display:block;
	width:100%;
	text-align:center;
}


// Vertical Nav
footer nav{
	//.menu(h);
	ul#external.social{
		.visuallyhidden();
	}
}


header,
#content section h1,
#content section h2,
footer h4, footer h5, footer p, footer nav{
	opacity: 1 ;
	transition:all 0.5s;
}
header,footer h4, footer h5, footer p, footer nav{
		transition:all 0.5s;
}

.inactive{

	header,
	#content section h1,
	#content section h2,
	footer h4, footer h5, footer p, footer nav{
		opacity:0 ;
	}
}




article{
	position:relative;
	width:100%;
	height:100%;
	display:block;
}
#info{
	visibility:hidden;
	width:auto;
	height:auto;
}
section{
	perspective: @perspective;
	//z-index:-1;
	width:100%;
	height:100%;
	z-index:66;
}

header h1{
	//.position-tl( 0, 0 );
	//.3D-text( @neutral, 2px );
}
header h2{
	//.position-br( 0, 0 );
	//.3D-text( @neutral, 2px );
}

section{
	h1,h2{
		position:absolute;
	}
	h1{
		top:0;
		left:0;
		font-size:60%;
		color:rgba( 255,255,255,0.6);
	}

	h2{
		bottom:8px;
		right:22px;
		font-size:50%;
		color:rgba( 255,255,255,0.5);
	}

}

article.info{
	visibility:hidden;
}

@import url(cards.less);
@import url(social.less);
@import url(icons.less);
