//- For older versions of Internet Explorer, show an 'upgrade browser' message
mixin upgrade
	//- Browse Happy! If Internet Explorer < 7, show a message
		//if lt IE 7
			p.browsehappy
				| You are using an <strong>outdated</strong> browser.
				| Please <a href="http://browsehappy.com/">upgrade your browser</a>
				| to improve your experience.