extends template/base

include mixins/cards
include mixins/menu

block header
	h3 First Version
	h4 1975

block menu
	+navigation(1)

block cards
	+pack(cards, "I")

block footer
	p.info 1975
		a(class='internal', href='') learn more
