extends template/base

include mixins/cards
include mixins/menu

block header
	h3 Second Version
	h4 1978

block menu
	+navigation(2)

block cards
	+pack(cards, "II")

block footer
	p.info 1978
		a(class='internal', href='') learn more
