extends template/base

include mixins/cards
include mixins/menu
include mixins/more

block header
	h3 Second Version
	h4 1978

block menu
	+navigation(decks,2)

block cards
	+pack(cards, "II")

block reload
	+more(decks)

block footer
	p.info 1978
		a(class='internal', href='') learn more
