extends template/base

include mixins/cards
include mixins/menu

block header
	h3 Third Version
	h4 1979

block menu
	+navigation(3)

block cards
	+pack(cards, "III")

block footer
	p.info 1979
		a(class='internal', href='') learn more
