extends template/base

include mixins/cards
include mixins/menu
include mixins/more

block header
	h3 Fourth Version
	h4 1989

block menu
	+navigation(decks,4)

block cards
	+pack(cards, "IV")

block reload
	+more(decks)

block footer
	p.info 1989
		a(class='', href='') learn more
