extends template/base

include mixins/cards
include mixins/menu

block header
	h3 Fourth Version
	h4 1989

block menu
	+navigation(4)


block cards
	+pack(cards, "IV")

block footer
	p.info 1989
		a(class='', href='') learn more
