mixin pack( cards )
  //- loop through the json data file and create!
  - var q = cards.length;
  each card, index in cards
    //- var classes = ['card-'+(q-index), 'card']
    - var classes = ['card-'+(index+1), 'card']
    li(class=classes)= card
    //-
      li(class=classes)
        a(href="#")= card
