include ../mixins/menu
include ../mixins/more

//- Begin ===============================================================================
html

	head
		meta(charset='utf-8')
		title OBLIQUE . STRATEGIES

		//- Prevent scaling  and pinch zoomming on touch enabled devices
		meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
		meta(name='description', content='Oblique Strategies - Inspirational help')
		meta(name='author', content='brian eno, harold schmidt, designerzen')
		meta(name="msapplication-tap-highlight", content="no")
		link(rel='stylesheet', href='css/styles.css')
		script(src='js/vendor/modernizr/modernizr-2.6.2-respond-1.1.0.min.js')

	body.loading

		header
			h1 Oblique Strategies
			h2 Simplified Inspiration

			nav#main-menu
				block menu
					+navigation(decks, 0)

		//- Content ==================================================================================
		main#content
			article
				section
					header
						block header

					ul#deck.cards
						block cards
						//- Reload the entire Deck!
						li.reload
							p.visuallyhidden This is the last card from this pack. Select another pack or to shuffle this pack and view it again.
							a#shuffle Shuffle Deck
							block reload
								+more(decks,0)

					footer
						block footer

		//- Main Footer ===============================================================================
		include ../partials/footer
			include ../partials/social

		//- Javascripts ===============================================================================
		script(src='js/main.js',defer,async)
		//- Google Analytics: change UA-XXXXX-Y to be your site's ID.
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-1241310-3', 'auto');
			ga('send', 'pageview');
