@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-spinner, .icon-spinner-2, .icon-expand, .icon-contract, .icon-expand-2, .icon-contract-2, .icon-close, .icon-checkmark, .icon-checkmark-2, .icon-arrow-up-left, .icon-arrow-up, .icon-arrow-up-right, .icon-arrow-right, .icon-arrow-down-right, .icon-arrow-down, .icon-arrow-down-left, .icon-arrow-left, .icon-radio-unchecked, .icon-radio-checked, .icon-twitter, .icon-github, .icon-lastfm, .icon-pinterest, .icon-html5, .icon-html5-2, .icon-chrome, .icon-firefox, .icon-IE, .icon-opera, .icon-safari, .icon-deviantart, .icon-picassa, .icon-youtube, .icon-facebook, .icon-google-plus, .icon-earth, .icon-globe, .icon-attachment, .icon-skype, .icon-linkedin, .icon-stumbleupon, .icon-stackoverflow, .icon-blogger, .icon-wordpress, .icon-feed, .icon-feed-2, .icon-info, .icon-info-2, .icon-screen, .icon-phone, .icon-phone-portrait, .icon-phone-landscape, .icon-tablet, .icon-tablet-landscape, .icon-laptop {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-spinner:before {
	content: "\e000";
}
.icon-spinner-2:before {
	content: "\e001";
}
.icon-expand:before {
	content: "\e002";
}
.icon-contract:before {
	content: "\e003";
}
.icon-expand-2:before {
	content: "\e004";
}
.icon-contract-2:before {
	content: "\e005";
}
.icon-close:before {
	content: "\e006";
}
.icon-checkmark:before {
	content: "\e007";
}
.icon-checkmark-2:before {
	content: "\e008";
}
.icon-arrow-up-left:before {
	content: "\e009";
}
.icon-arrow-up:before {
	content: "\e00a";
}
.icon-arrow-up-right:before {
	content: "\e00b";
}
.icon-arrow-right:before {
	content: "\e00c";
}
.icon-arrow-down-right:before {
	content: "\e00d";
}
.icon-arrow-down:before {
	content: "\e00e";
}
.icon-arrow-down-left:before {
	content: "\e00f";
}
.icon-arrow-left:before {
	content: "\e010";
}
.icon-radio-unchecked:before {
	content: "\e011";
}
.icon-radio-checked:before {
	content: "\e012";
}
.icon-twitter:before {
	content: "\e013";
}
.icon-github:before {
	content: "\e014";
}
.icon-lastfm:before {
	content: "\e015";
}
.icon-pinterest:before {
	content: "\e016";
}
.icon-html5:before {
	content: "\e017";
}
.icon-html5-2:before {
	content: "\e018";
}
.icon-chrome:before {
	content: "\e019";
}
.icon-firefox:before {
	content: "\e01a";
}
.icon-IE:before {
	content: "\e01b";
}
.icon-opera:before {
	content: "\e01c";
}
.icon-safari:before {
	content: "\e01d";
}
.icon-deviantart:before {
	content: "\e01e";
}
.icon-picassa:before {
	content: "\e01f";
}
.icon-youtube:before {
	content: "\e020";
}
.icon-facebook:before {
	content: "\e021";
}
.icon-google-plus:before {
	content: "\e022";
}
.icon-earth:before {
	content: "\e023";
}
.icon-globe:before {
	content: "\e024";
}
.icon-attachment:before {
	content: "\e025";
}
.icon-skype:before {
	content: "\e026";
}
.icon-linkedin:before {
	content: "\e027";
}
.icon-stumbleupon:before {
	content: "\e028";
}
.icon-stackoverflow:before {
	content: "\e029";
}
.icon-blogger:before {
	content: "\e02a";
}
.icon-wordpress:before {
	content: "\e02b";
}
.icon-feed:before {
	content: "\e02c";
}
.icon-feed-2:before {
	content: "\e02d";
}
.icon-info:before {
	content: "\e02e";
}
.icon-info-2:before {
	content: "\e02f";
}
.icon-screen:before {
	content: "\e030";
}
.icon-phone:before {
	content: "\e031";
}
.icon-phone-portrait:before {
	content: "\e032";
}
.icon-phone-landscape:before {
	content: "\e033";
}
.icon-tablet:before {
	content: "\e034";
}
.icon-tablet-landscape:before {
	content: "\e035";
}
.icon-laptop:before {
	content: "\e036";
}
